header > .title {
	align-items: center;
	display: flex;
	font-family: 'Inter', sans-serif;
	gap: 4px;
	justify-content: center;
}

header > .title > h1 {
	border-radius: 4px;
	font-size: 24px;
	font-weight: bold;
	margin: 20px 0;
	padding: 6px;
	text-align: center;
	text-transform: lowercase;
}

.today {
	font-weight: bold;
	text-align: center;
}
